<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>BeginTwitterAuthorization</servlet-name>
		<servlet-class>me.chester.myretweetedtweets.BeginTwitterAuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterCallback</servlet-name>
		<servlet-class>me.chester.myretweetedtweets.TwitterCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrieveTweets</servlet-name>
		<servlet-class>me.chester.myretweetedtweets.RetrieveTweetsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeginTwitterAuthorization</servlet-name>
		<url-pattern>/beginauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwitterCallback</servlet-name>
		<url-pattern>/twittercallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveTweets</servlet-name>
		<url-pattern>/ul/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
